@import url('https://fonts.googleapis.com/css2?family=Caveat&display=swap');


* {
  font-family: 'Caveat', cursive ;
}
body {
  width: 100%;  
  /* border: 2px solid black; */  
}

h1 {
  text-align: center;
  border: 1px solid red;
  height: 120px;
  letter-spacing: 50px;
  padding-top: 30px;
  margin-left: 60px;
}


.booked {
  background-color: red !important;
  color: white ;
}

.ticket-table {
  
  display: inline-block;
  margin-left: 80%;
  margin-bottom: 5px;
  border: 1px solid cornflowerblue;
}

table thead th {
  text-align: center;
}

.table tr td:nth-child(1) {
  /* border: 1px solid black !important; */
  text-align: left;  
}

.table tr td:nth-child(6) {
  text-align: center;
  border: none !important;
  /* background-color: white !important; */
}


.table tbody tr td:not(:first-child) {
  border: 1px solid blue;
  width: 100px;
  height: 50px;
  text-align: center;
  
}

.table tbody tr td:not(:first-child, :nth-child(6)):hover {
  cursor: pointer;
}

 

.table tbody tr td:first-child {
  width: 50px;
}

.table thead tr td {
  text-align: center;
}





